# Cache
__pycache__

# Virtual Environments
bot-env
venv

# Local Archives
encryption.key
release.md

# Secret Files
secret.py
secret1.py

# IDEs
.vscode
.idea

# Tests Files
test.py

# EGG
moodleapi.egg-info
build

# Music Files
*.webm
*.m4a

# System Files
*.DS_Store