# Cache
__pycache__

# Virtual environments
bot-env
venv

# Local archives
encryption.key
release.md

# Secret files
secret.py
secret1.py

# IDEs
.vscode
.idea

# Tests files
test.py

# EGG
moodleapi.egg-info
build