# Cache
__pycache__

# Virtual environments
bot-env
venv

# Local archives
secret.py
encryption.key
*.csv

# IDEs
.vscode
.idea

# Tests files
test.py
moodleapi/secret.py
secret1.py

# EGG
moodleapi.egg-info
build