aiohttp==3.6.2
async-timeout==3.0.1
attrs==20.2.0
bitlyshortener==0.4.2
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
discord==1.0.1
discord-ext-menus==1.0.0a26+g84caae8
discord.py==1.4.1
idna==2.10
multidict==4.7.6
numpy==1.19.2
pandas==1.1.2
pycparser==2.20
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
urllib3==1.25.10
yarl==1.6.0
